<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="monthly" datePattern="-yyyy-MM-dd" />

    <property name="log.path.active" value="${catalina.home}/TMMigrateLogs/" />
    <property name="log.path.archive" value="${catalina.home}/TMMigrateLogs/archive" />
    <property name="log.file.standard" value="stdout" />
    <property name="log.file.error" value="stderr" />
    <property name="log.file.soapserver" value="soapserver" />
    <property name="log.file.soapclient" value="soapclient" />

	# Redirect Log Messages To Console !!
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <!-- encoders are assigned the type
	         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
	    <encoder>
	      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
	    </encoder>
	  </appender>
 
	
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{yyyy-MM-dd}] %d{HH:mm:ss.SSS}[%p] [%thread] %logger - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STDFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path.active}${log.file.standard}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path.archive}${monthly}/${log.file.standard}.%d{yyyyMMdd}.log
            </fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERRORFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path.active}${log.file.error}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path.archive}${monthly}/${log.file.error}.%d{yyyyMMdd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.springframework" level="WARN">
        <appender-ref ref="STDFILE" />

        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.apache" level="WARN">
        <appender-ref ref="STDFILE" />

        <appender-ref ref="CONSOLE" />
    </logger>


    <logger name="ch.qos.logback" additivity="false">
        <level value="WARN" />
        <appender-ref ref="STDFILE" />
    </logger>
    <logger name="org.apache.catalina.realm.level" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDFILE" />
    </logger>
    <logger name="org.apache.catalina.authenticator.level" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDFILE" />
    </logger>

	<root level="DEBUG">
	    <appender-ref ref="STDOUT" />
	  </root>
    <root>
        <level value="WARN" />
        <appender-ref ref="STDFILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>